$color-blue: #049DBF;
$color-red: #D93D04;
$color-orange: #F27405;
$color-gold: #F29F05;
$color-yellow: #F2B705;

$color-black: #333;
$color-grey: #656573;
$color-white: #eee;

$default-padding: 3rem;
$default-box-shadow: 0 2rem 1rem rgba($color-black, .1);
$default-border-radius: 5px;